.top-nav-bar{
  background-color: pink;
  width: 100%;
  height: 15vh;
  position:fixed;
  top: 0;


}

.side-nav-bar{
  background-color: deeppink;
  height: 100vh;
  width: 19vw;
  position: fixed;
  right:0;
  top: 0;
}

.list-display{
  background-color: lightblue;
  height:100vh;
  width: 100%;
  padding: 200px 0 0 0;

}