.top-nav-bar{
  background-color: rgb(214, 196, 172);
  border: 1px solid black;
  width: 100%;
  height: 15vh;
  position:fixed;
  top: 0;
  padding: 10px 0 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.img-container {
  /* background-color: red; */
  display:flex;
  justify-content: space-between;
  height: 70%;
  margin: 0 450px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.side-nav-bar{
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/65/19/leopard-pattern-seamless-background-vector-13696519.jpg");
  /* background-color: deeppink; */
  height: 100vh;
  width: 19vw;
  position: fixed;
  right:0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.side-bar-title {
  width:100%;
  height: 50px;
  border: 2px solid black;
  font-size: 21px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 222, 230);
  font-family: 'Caveat', cursive;
}
.input-container{
  /* background-color: red; */
  height: 90vh;
  width: 85%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.list-display{
  background-color: rgb(204, 193, 179);
  width: 81vw;
  padding: 170px 0 0 0;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;


}
.list-title {
  font-size: 70px;
  /* background-color: yellow; */
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Sacramento', cursive;
  margin: 0 0 25px 0;
}
#profile-pic {
  /* border: 1px solid black; */
  border-radius: 50%;
  max-width: 12%;
}
input {
  width:100%;
  height: 50px;
  border: 2px solid black;
  font-size: 19px;
  text-align: center;
}
.description {
  height: 150px;
  box-sizing: border-box;
  resize: none;
  /* text-align: left; */
  margin: 1px;
  padding: 1px;
  vertical-align: top;
}

button {
  width:50%;
  height: 50px;
  border: 2px solid black;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

#edit-title {
  font-size: 12px;
  height: 22px;
  width: 100px;
  /* font-family: 'Caveat', cursive; */
}
.item-container {
  /* background-color: midnightblue; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
